.navbar {
    background-color:#DAF7A6;
}

#quemsomos {
    background-color: cornflowerblue;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;

}

.parceiros{
    background-color: ;
}



.bg-footer{
    background-color: black;
    color: white;
}
